<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.table.dao.OrderMapper">

  <insert id="insertOrder" parameterType="com.example.table.entity.Order">
    insert into ${realTableName}(order_id,user_id,money) values(#{orderId},#{userId},#{money})
  </insert>

  <delete id="deleteOrder">
    delete from ${realTableName} where order_id = #{orderId}
  </delete>

  <delete id="updateOrder">
    update ${realTableName}
    <set >
      <if test="userId != null and userId > 0">
        user_id = #{userId},
      </if>
      <if test="money != null and money > 0" >
        money = #{money},
      </if>
    </set>
    where order_id = #{orderId}
  </delete>

  <select id="findOrder" resultType="com.example.table.entity.Order">
    select * from ${realTableName}
    where order_id = #{orderId}
  </select>

</mapper>